@font-face {
    font-family: 'CP_Mono';
    src: url('../Fonts/CPMono_v07_Plain.otf') format('opentype');
}

body {
    font-family: 'CP_Mono', monospace;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#center-column {
    width: 100%;
    max-width: 670px;
    white-space: pre;
}

a {
    color: #c6962e;
    text-decoration: none;
    display: block;
}

a:hover {
    color: cornflowerblue;
}